.App {
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #282c34;;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 20px;
}

.App-Logo{
  display: inline-block;
  max-width: 25%;
}

.App-Logo-img{
  width: 100%;
}

.App-title-container{
  display: inline-block;
}

.App-Title{
  font-size: calc(10px + 5vmin);
  display: flex;
  flex-direction: column;
  padding-bottom: 5vmin;
}

.App-Menu{
  font-size: calc(10px + 1vmin);
  padding-bottom: 1vmin;
}


.App-Banner-en{
  color: red;
}

.App-Banner-fr{
  color: blue;
}


.App-Apply{
  padding: 2vmin;
  width: 95%;

}